
<script type="text/javascript">

</script>




<div id="home" data-role="page"> 
  
  <div  data-role="header" data-position="fixed" >
  <h1>Localisto</h1>
  </div>


  <div style="padding:0px;" data-role="content">
  <div id="homescreen">


     <% @agencies.each do |agency| %>

    <div class="agencytitle"> <%= agency.name %> </div>

    <div class = 'container'>    
        <div class = 'iosSlider'>
           <div class = 'slider'>
            <% agency.active_projects.each do |project| %>

           
              <div class = 'item'><%= link_to image_tag(project.grid_image), project_path(project) %></div>
           
            <%end%>

       
                      


            
</div></div></div>
   

      <%end%>
</div>
  </div>

   <div data-role="footer" data-position="fixed" >
   
    </div>

</div> 



   
      
